@model PagoViewModel
@{
    ViewData["Title"] = "Pagos";
}
<h2>Pagos realizados por el contrato</h2>
<table class="table table-even-columns table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.pagos.First().IdContrato)</th>
            <th>@Html.DisplayNameFor(model => model.pagos.First().FechaPago)</th>
            <th>@Html.DisplayNameFor(model => model.pagos.First().Importe)</th>
            <th>@Html.DisplayNameFor(model => model.pagos.First().NumeroPago)</th>
            <th>@Html.DisplayNameFor(model => model.pagos.First().Detalle)</th>
        </tr>
    </thead>
    <tbody class="table">
        @if(Model.pagos != null){
            @foreach (var item in Model.pagos){
                <tr>
                    <td>@item.IdContrato</td>
                    <td>@item.FechaPago</td>
                    <td>@item.Importe</td>
                    <td>@item.NumeroPago</td>
                    <td>@item.Detalle</td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="/Pago/Crear/@Model.IdContrato">NUEVO PAGO</a>
@*<h2>Pagos del contrato x</h2>
ACA IRIA UN FOREACH RECORRIENDO LOS PAGOS DE X CONTRATO Y
POR CADA PAGO UNA CARD DE ESTAS: 
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pago x</h5>
                <p class="card-text">media.Detalle</p>
                <a href="/Home/model.id" class="btn btn-primary" style="width: auto;">Ver detalles</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pago x</h5>
                <p class="card-text">media.Detalle</p>
                <a href="/Detalle/" class="btn btn-primary" style="width: auto;">Ver detalles</a>
            </div>
        </div>
    </div>
</div> *@